body {  }		
.apresentacao { background: #fff; }
.servicos .card-body { height: 280px; }	
.servicos .card-body .btn {   }	
.texto { font-size: 18px; }
.card-servicos { height: 210px; }
.bg-silver { background: #f9f9f9; }
